click==6.7
coverage==4.5.1
Flask==1.0.2
gunicorn==19.8.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
psycopg2-binary==2.7.4
py==1.5.4
python-dateutil==2.6.0
requests==2.20.1
requests-oauthlib==1.0.0
Flask-Cors==3.0.6
Flask-SQLAlchemy==2.3.2
SQLAlchemy-Utils==0.33.6
SQLAlchemy==1.2.12
urllib3==1.24.1
html5lib==0.999999999
httplib2==0.11.3